/*==========  Desktop First Method  ==========*/


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}









/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {}








/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {}








/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    header {
        height: 50%;
    }
    .header_phone {
        padding-left: 20px;
        padding-top: 22px;
    }
    .logo {
        display: none;
        padding-left: 20px;
        padding-top: 20px;
    }
    .header_bottom {
        /*position: relative;*/
        padding: 0;
        margin: 0;
    }

    .header_bottom .row {
        /*position: absolute;*/
        /*top: 210px;*/
        font-size: 14px;
        padding-top: 430px;
        flex-wrap: wrap;
    }

    .header_bottom_item {
        flex: 1 49%;
    }

    .header_phone a {
        padding-left: 5px;
        top: 22px;
    }

    .header_content {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 80px;
    }

    .header_content_left h1 {
        font-size: 25px;
        padding: 0;
        margin: 0;
    }

    .popup_close {
        right: 0;
    }

    .popup_content {
        width: 350px;
    }

    .film_roll_wrapper {
        height: 50% !important;
    }
    .film_roll_next {
        right: 14% !important;
    }
    .film_roll_prev {
        left: 14% !important;
    }

    .form_block form input {
        display: block;
        width: 100%;
        margin: 10px auto;
    }

    .tabs {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        height: 150px;
    }

    .tab {
        height: 90px;
        font-size: 14px;
        margin: 0 5px;
        padding: 13px 5px;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 60%;
        text-align: center;
    }

    .tab_content {
        margin-top: 0;
    }

    .header_phone {
        padding-bottom: 5px;
    }
    .tab_active::after {
        left: 43%;
        top: 85px;
    }

    .item {
        flex: 0 50%;
        margin: 0;
        padding: 20px;
    }

    .tabs_block {
        padding-bottom: 40px;
    }

    .items_block h1 {
        padding: 0 5px;
    }

    .items_block {
        text-align: center;
        padding-bottom: 0;
    }
    .items_block p {
        text-align: center;
        font-size: 12px;
        margin-top: 20px;
    }

    .contact {
        padding: 10px;
    }

    footer {
        display: none;
    }

    .menu-button {
        display: block;
        margin-top: 15px;
    }

    .hamburger {
        background-color: inherit;
        border: none;
        height: 25px;
        width: 25px;
    }

    .hide {
        display: none;
    }

    .header_menu_list {
        display: none;
    }

    header .row {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
    }

    .header-item-1 {
        order: 2;
    }
    .header-item-2 {
        order: 1;
    }
    .header-item-3 {
        order: 3;
    }

    .mobile-menu {
        position: fixed;
        background-color: rgba(255, 255, 255, 0.9);
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        opacity: 1;
    }

    .close-icon {
        position: absolute;
        right: 15px;
    }

    .mobile-menu {
        z-index: 2;
    }

    .mobile-menu ul {
        padding: 0;
        margin: 0;
        padding-top: 10%;
        padding-bottom: 25%;
    }

    .mobile-menu a {
        color: #000;
        text-decoration: underline;
        
    }

    .mobile-menu li {
        font-size: 16px;
        display: block;
        text-align: center;
        padding: 10px;
        margin: 0;
        list-style-type: none;
        font-family: 'RobotoRegular', sans-serif;
    }
    .header_content_left p {
        font-size: 17px;
        margin-bottom: 30px;
    }

    .popup_close-form {
        right: 0;
    }

    .popup_content-form {
        width: 90%;
    }
}








/* Extra Small Devices, Phones */

@media only screen and (max-width: 375px) {
    .popup_close {
        right: 0;
    }

    .form_block {
        padding: 20px;
    }

    .header_bottom {
        padding: 0;
        margin: 0;
    }

    .header_bottom .row {
        padding-top: 380px;
        font-size: 14px;
    }

    .logo {
        display: none;

        font-size: 25px;
    }

    .header_phone a {
        font-size: 13px;
        top: 22px;
    }

    .header_phone span {
        -webkit-background-size: 17px;
        background-size: 17px;
    }

    .header_bottom_item {
        padding: 10px 5px;
        flex: 1 48%;
    }
    /*    .item {
        padding: 10px;
    }*/
    .header_bottom span::before {
        margin-bottom: 10px;
    }
}




/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {
    .header_phone {
        padding-left: 55px;
    }

    .header_phone a {
        padding: 0;
    }

    .header_bottom {
        padding: 0;
        margin: 0;
    }
    .header_bottom .row {
        padding-top: 315px;
        font-size: 12px;
    }

    .header_bottom_item {
        padding: 5px;
    }

    .item {
        padding: 5px;
    }

    .form_block h1 {
        font-size: 20px;
    }
    .form_block input {
        width: 90%;
    }
    .header_content_left h1 {
        font-size: 20px;
    }
    .header_content_left p {
        font-size: 13px;
    }

    .tabs {
        height: 150px;
    }

    .items_block p {
        font-size: 12px;
    }

    .popup_content {
        width: 285px;
    }

    .header_phone {
        padding-left: 20px;
    }
    .header_phone span {
        background-size: 14px;
    }

    .header_phone a {
        font-size: 11px;
    }
}









/*==========  Mobile First Method  ==========*/


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}








/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}








/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}








/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}








/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}