body, html {
    height: 100%;
    margin: 0;
}

body {
    display: grid;
    justify-items: center;
}

.wrapper {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}