* {
    margin: 0;
    padding: 0;
}

body {
    font-weight: normal;
    font-size: 16px;
    min-width: 320px;
    position: relative;
    line-height: 1.6;
    -webkit-font-smoothing: antialised;
    -webkit-font-smoothing-overflow-x: hidden;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}


.clear_left {
    clear: left;
}

.container {
    max-width: 1170px;
    padding-left: 135px;
    padding-right: 135px;
    margin: 0 auto;
    position: relative;
}


.header {
    background-image: url(../img/top_bg.jpg);
    min-height: 680px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.header::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #16151b;
    opacity: .85;
}


.logo {
    padding-top: 40px;
    text-transform: uppercase;
    font-size: 24px;
    font-family: "Quicksand-Bold", sans-serif;
    float: left;
}

.logo a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    vertical-align: middle;
}

.logo p {
    display: inline-block;
    font-size: 9px;
    font-family: "SourceSansProRegular", sans-serif;
    color: #55555a;
    vertical-align: middle;
}


.top_menu {
    float: right;
    padding-top: 30px;
}

.top_menu ul {
    list-style-type: none;
}

.top_menu ul li {
    display: inline-block;
    padding: 0 20px;
}

.top_menu a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-family: "SourceSansProSemiBold", sans-serif;
    padding-bottom: 10px;
    text-decoration--webkit-transition: 500ms ease-out .25s;
    text-decoration--moz-transition: 500ms ease-out .25s;
    text-decoration--o-transition: 500ms ease-out .25s;
    text-decoration-transition: 500ms ease-out .25s;
}

.top_menu li a:hover {
    border-bottom: 2px solid #008ed6;
}

.top_menu a.active {
    border-bottom: 2px solid #008ed6;
}

.menu_icon {
    text-align: right;
    display: none;
}

.header_wrap {
    padding-top: 125px;
    color: #fff;
}

.header_left {
    float: left;
    width: 40%;
}

.header_left h3 {
    text-transform: uppercase;
    font-family: "SourceSansProBold", sans-serif;
    font-size: 14px;
    margin-top: 30px;
    color: #008ed6;
    letter-spacing: 1px;
}

.header_left h1 {
    font-family: "SourceSansProRegular", sans-serif;
    font-size: 46px;
    margin-top: 30px;
}

.header_left p {
    font-family: "SourceSansProRegular", sans-serif;
    font-size: 18px;
    margin-top: 37px;
    color: #999999;
}

.btn_wrap {
    margin-top: 60px;
}

.btn {
    padding: 20px 25px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-family: "SourceSansProBold", sans-serif;
    font-size: 14px;
}

.btn_blue {
    background-color: #008ed6;
    border-radius: 4px;
}

.btn_transparent {
    background-color: transparent;
    border: 1px solid #999999;
    border-radius: 4px;
}

.btn_wrap .btn_transparent {
    margin-left: 20px;
}

.header_right {
    width: 60%;
    height: 555px;
    float: right;
    background: url(../img/iphones_bg.png) no-repeat;
    background-position: 70% 40px;
    background-size: 420px;
}

.list {
    text-align: center;
    padding-top: 65px;
    padding-bottom: 100px;
}

.list h3 {
    text-transform: uppercase;
    font-family: "SourceSansProBold", sans-serif;
    font-size: 14px;
    color: #008ed6;
    letter-spacing: 1px;
}

.list h1 {
    font-family: "SourceSansProSemiBold", sans-serif;
    font-size: 36px;
    margin-top: 20px;
    position: relative;
}

.list h1::after {
    content: '';
    position: absolute;
    background: url(../img/bottom_line.png) no-repeat;
    height: 4px;
    width: 4%;
    display: block;
    bottom: -40px;
    left: 48.5%;
}


.list_item {
    width: 230px;
    margin-top: 73px;
    display: inline-block;
    padding: 0 20px;
}

.list_item h2 {
    font-family: "SourceSansProRegular", sans-serif;
    font-size: 24px;
    margin-top: 33px;
}

.list_item p {
    font-family: "SourceSansProRegular", sans-serif;
    font-size: 18px;
    color: #999999;
    padding-top: 17px;
}

.img_wrap {
    height: 90px;
    width: 90px;
    border: 1px solid #e4e4e4;
    border-radius: 50%;
    margin: 0 auto;
}

.img_wrap img {
    margin-top: 31px;
}

.overview hr {
    color: #ededed;
    size: 1px;
}

.details {
    padding-top: 65px;
    padding-bottom: 75px;
}

.details_left {
    width: 40%;
    height: 600px;
    float: left;
    background: url(../img/iphones_bg.png) no-repeat;
    background-size: 420px;
}

.details_right {
    float: right;
    width: 60%;
    padding-top: 45px;
}

.details_right h3 {
    padding-left: 110px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "SourceSansProBold", sans-serif;
    color: #008ed6;
    padding-bottom: 15px;
}

.details_right h1 {
    padding-left: 110px;
    font-size: 36px;
    font-family: "SourceSansProSemiBold", sans-serif;
    position: relative;
    margin-bottom: 68px;
}

.details_right h1::after {
    content: '';
    position: absolute;
    background: url(../img/bottom_line.png) no-repeat;
    height: 4px;
    width: 6%;
    display: block;
    bottom: -23px;
}

.details_right p {
    padding-left: 110px;
    letter-spacing: 1px;
    font-size: 18px;
    color: #b4b4b4;
    padding-bottom: 40px;
}

.details_right span {
    padding-left: 135px;
    display: block;
    font-size: 18px;
    font-family: "SourceSansProRegular", sans-serif;
    position: relative;
}

span.first_item::before,
span.second_item::before,
span.third_item::before,
span.fourth_item::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 17px;
    top: 5px;
    left: 110px;
}

span.first_item::before {
    width: 20px;
    background: url("../img/logo_cup.png") no-repeat;
}

span.second_item::before {
    background: url("../img/logo_mouse.png") no-repeat;
    left: 113px;
}

span.third_item::before {
    background: url("../img/logo_energy.png") no-repeat;
    left: 113px;
}

span.fourth_item::before {
    width: 20px;
    background: url("../img/logo_speedometr.png") no-repeat;
}

.grey,
.contact {
    background: #f2f2f2;
}

.grey_left {
    float: left;
    width: 35%;
    padding-top: 130px;
}

.grey_right {
    float: right;
    width: 65%;
    height: 600px;
    background: url(../img/iphone_bg.png) no-repeat;
    background-position: 130px 95px;
    background-size: 650px;
}

.grey_left h3 {
    font-size: 14px;
    text-transform: uppercase;
    font-family: "SourceSansProBold", sans-serif;
    color: #008ed6;
    padding-bottom: 15px;
}

.grey_left h1 {
    font-size: 36px;
    font-family: "SourceSansProSemiBold", sans-serif;
    position: relative;
    margin-bottom: 60px;
}

.grey_left h1::after {
    content: '';
    position: absolute;
    background: url(../img/bottom_line.png) no-repeat;
    height: 4px;
    width: 11%;
    display: block;
    bottom: -28px;
}

.grey_left p {
    letter-spacing: 1px;
    font-size: 18px;
    color: #b4b4b4;
    padding-bottom: 165px;
}


.quality {
    background-image: url(../img/section_bg.png);
    min-height: 640px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.quality::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #16151b;
    opacity: .85;
}

.quality {
    padding-top: 65px;
}

.quality_header h3,
.pricings_header h3,
.contact_header h3 {
    text-align: center;
    text-transform: uppercase;
    font-family: "SourceSansProBold", sans-serif;
    font-size: 14px;
    color: #008ed6;
    letter-spacing: 1px;
}

.quality_header h1, 
.pricings_header h1, 
.contact_header h1 {
    text-align: center;
    font-family: "SourceSansProSemiBold", sans-serif;
    font-size: 36px;
    margin-top: 20px;
    color: #fff;
    position: relative;
}

.quality_header h1::after, 
.pricings_header h1::after,
.contact_header h1::after {
    content: '';
    position: absolute;
    background: url(../img/bottom_line.png) no-repeat;
    height: 4px;
    width: 4%;
    display: block;
    bottom: -30px;
    left: 48.5%;
}

.slider_item {
    padding-top: 90px;
    width: 100%;
    color: #fff;
}

.slider_item h2 {
    font-family: "SourceSansProIt", sans-serif;
    font-size: 24px;
}

.slide_img_wrap {
    margin-top: 30px;    
}

.slide_img {
    float: left;
    margin-right: 20px;
}

.slide_img img {
    height: 59px;
    width: 59px;
    border-radius: 50%;
}

.slider_text p {
    font-family: "SourceSansProRegular", sans-serif;
    font-size: 16px;
}

.slider_text h3 {
    font-family: "SourceSansProSemiBold", sans-serif;
    font-size: 14px;
    text-transform: uppercase;   
}

.slide .container {
    padding-left: 150px;
    padding-right: 150px;
}

.slider .owl-controls {
    text-align: center;
    padding-top: 135px;
}

.slider .owl-controls .owl-dot {
    width: 15px;
    height: 15px;
    margin: 0 3px;
    background-color: #CCC;
    display: inline-block;
    border-radius: 50%;
}

.slider .owl-controls .owl-dot.active {
    background-color: #fff;
}

.dark {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #15141a;
    color: #fff;
}

.dark h1 {
    float: left;
    margin: 0;
    padding: 0;
    font-size: 36px;
    vertical-align: middle;
    font-family: "SourceSansProLight", sans-serif;
}

.dark h1 span {
    font-family: "SourceSansProSemiBold", sans-serif;
}

.dark .btn_wrap {
    float: right;
    margin-top: 20px;
}

.dark .btn_wrap .btn_transparent {
    margin: 0;
    margin-right: 20px;
}

.pricings {
    padding-top: 60px;
    padding-bottom: 60px;
}

.pricings_header h1 {
    color: #000;
}

.item_wrap {
    text-align: center;
}

.item {
    width: 22%;
    display: inline-block;
    margin: 70px 10px;
    border: 1px solid #b1b1b1;
    border-radius: 3px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    text-decoration--webkit-transition: 500ms ease-out .25s;
    text-decoration--moz-transition: 500ms ease-out .25s;
    text-decoration--o-transition: 500ms ease-out .25s;
    text-decoration-transition: 500ms ease-out .25s;
    
}

.item_header {
    text-transform: uppercase;
    border-bottom: 1px solid #b1b1b1;
    font-size: 19px;
    font-family: "SourceSansProBold", sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}

.item_header h2 {
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 20px;
}

.item_price {
    font-size: 24px;
    font-family: "SourceSansProRegular", sans-serif;
    border-bottom: 1px solid #b1b1b1;
    padding-top: 30px;
    padding-bottom: 30px;
}

.item_price p {
    font-size: 18px;
    color: #b1b1b1;
}

.item_btn {
    font-size: 18px;
    font-family: "SourceSansProRegular", sans-serif;
    color: #b1b1b1;
    padding-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}

.item_btn p {
    margin-bottom: 40px;
}

.item_btn span {
    color: #44ace1;
}

.item_btn .btn_transparent {
    color: #44ace1;
}

.item:hover .item_price {
    background-color: #44ace1;
    color: #fff;
}

.item:hover .item_price p {
    color: #fff;
}

.item:hover .item_header h2 {
    color: #44ace1;
}

.item:hover .btn_transparent {
    background-color: #44ace1;
    color: #fff;
    border: 1px solid #44ace1;
}

.contact {
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
    
}

.contact_header {
    text-align: center;
}

.contact_header h1 {
    color: #000;
}

.contact_info {
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;

}

.contact_item {
    display: inline-block;
    padding-left: 105px;
    padding-right: 105px;
    padding-top: 60px;
    height: 130px;
    vertical-align: top;
}

.contact_item p {
    font-family: "SourceSansProRegular", sans-serif;
    font-size: 18px;
    margin-top: 30px;
}

.form {
    width: 770px;
    height: 270px;
    margin: 70px auto;
    background-color: #15141a;
    padding: 60px 65px 40px;
    z-index: 2;
}

.form_left {
    float: left;
    width: 50%;
}

.form_right {
    float: right;   
    width: 50%;
    display: block;
    position: relative;
    
}

.form_left input {
    display: block;
    width: 90%;
    padding-top: 18px;
    padding-left: 18px;
    padding-bottom: 18px;
    border-radius: 3px;
    color: #444348;
    border: 1px solid #444348;
    background-color: transparent;
    margin-bottom: 20px;
}

.form_right textarea {
    border: 1px solid #444348;
    background-color: transparent;
    width: 100%;
    padding-top: 18px;
    padding-left: 18px;
    height: 173px;
}

.form_right .btn_blue {
    position: absolute;
    top: 210px;
    right: -20px;
}

.map_section {
    background-image: url(../img/map.png);
    min-height: 500px;
    background-size: cover;
    width: 100%;
    position: absolute;
    top: 810px;
    left: 0;
}