/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.top_menu {
		display: none;		
	    position: absolute;
	    top: 110px;
	    right: 200px;
	    width: 65%;
	    z-index: 2;

	}

	.menu_icon {
		display: block;
		position: absolute;
		right: 150px;
		top: 60px;
	}

	.header {
		min-height: 1100px;
	}

	.top_menu ul li {
		display: block;
		padding-top: 0px;
	    min-width: 295px;
	    text-align: right;
	    background-color: #1C242C;
	    padding: 25px;
	    border-bottom: 1px solid #000;
	}
	
	.top_menu a {
	    font-size: 30px;		
	}

	.top_menu a.active {
	    border-bottom: none;
	}

	.logo {
		font-size: 75px;
	}

	.logo p {
		font-size: 20px;
	}

	.menu_icon svg {
		width: 100px;
		height: 100px;
	}

	.header_wrap {
		padding-top: 210px;
	}

	.header_left {
		width: 100%;
	}

	.header_left h1 {
		font-size: 25px;
	}

	.header_right {
		display: none;
	}

	.btn_wrap .btn {
	    display: block;
	    margin-bottom: 10px;
	    text-align: center;
	}
	.btn_wrap .btn_transparent {
	    margin-left: 0;    
	}
	.list h3 {
		font-size: 28px;
	}
	.list h1 {
		font-size: 50px;
	}

	.img_wrap {
		height: 200px;
		width: 200px;
		margin-top: 70px;
	}

	.img_wrap img {
		margin-top: 55px;
		width: 50%;
	}
	.list_item {
		width: 430px;
		display: block;
		margin: 10px auto 0;
	}

	.list_item p {
		font-size: 40px;
	}
	.list_item h2 {
		font-size: 50px;
	}

	.details_left {
		display: none;
	}

	.details_right {
		width: 100%;
	}

	.details_right span {
	    font-size: 30px;
	    padding-left: 200px;
	}

	span.first_item::before,
	span.second_item::before,
	span.third_item::before,
	span.fourth_item::before {
	    top: 15px;
	    left: 140px;
		background-size: 40px;
		width: 50px;
		height: 70px;
	}

	span.second_item::before,
	span.third_item::before {
	    left: 145px;
	    background-size: 30px;
	}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.top_menu ul {
		display: block;
	}

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}