@font-face {
	font-family: NocturneSerifBold;
	src: url(fonts/NocturneSerifBold.otf);
}
@font-face {
	font-family: PlumbBlackSoftC;
	src: url(fonts/PlumbBlackSoftC.otf);
}
@font-face {
	font-family: PlumbBoldC;
	src: url(fonts/PlumbBoldC.otf);
}
@font-face {
	font-family: PlumbC_1;
	src: url(fonts/PlumbC_1.otf);
}
@font-face {
	font-family: PlumbC;
	src: url(fonts/PlumbC.otf);
}